<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Update Fee Info</title>
</head>
<body>
<div class="m-lg-2">
    <h1>Update Room</h1>
    <div th:if="${successMessage}" class="alert alert-success">
        <p class="w-25" th:text="${successMessage}"></p>
    </div>
    <form th:action="@{/fees/update}" th:object="${feeDTO}" method="post">
        <fieldset>
            <input type="text" th:type="hidden" th:field="*{id}"/>
            <div class="w-50">
                <label for="feeName" class="form-label mt-4 col-sm-2">Fee Name</label>
                <input type="text" class="form-control" th:field="*{feeName}" id="feeName" placeholder="Enter fee name">
                <span th:if="${#fields.hasErrors('feeName')}" th:errors="*{feeName}"
                      class="text-danger">Fee Name Error</span>
            </div>
            <div class="w-50">
                <label for="roomTypeCd" class="form-label mt-4 col-sm-2">Room Type</label>
                <select class="form-select" th:field="*{roomTypeCd}" id="roomTypeCd" name="roomTypeCd">
                    <option value="">All</option>
                    <option th:each="type : ${roomTypeList}"
                            th:value="${type.roomTypeCd}"
                            th:text="${type.roomTypeCd}"
                            th:selected="${type.roomTypeCd == feeDTO.roomTypeCd}">
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('roomTypeCd')}" th:errors="*{roomTypeCd}" class="text-danger">Room Type Error</span>
            </div>
            <div class="w-50">
                <label for="feeAmount" class="form-label mt-4">feeAmount</label>
                <input th:field="*{feeAmount}" class="form-control" id="feeAmount"></input>
            </div>
            <div class="w-50">
                <label for="remark" class="form-label mt-4">remark</label>
                <textarea th:field="*{remark}" class="form-control" id="remark" rows="3"></textarea>
            </div>
            <button class="btn btn-primary mt-4" type="submit">Update</button>
        </fieldset>
    </form>
    <form th:action="@{/fees/{id}(id=${feeDTO.id})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" class="btn btn-danger mt-4" value="Delete" />
    </form>
</div>
<a th:href="@{/fees}">Return To Fee List</a>
</body>
<script>
    $(document).ready(function () {
        $('#feeAmount').on('input', function () {
            let value = $(this).val();
            let numberWithCommas = value.replace(/[^0-9]/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $(this).val(numberWithCommas);
        });
    });
</script>
</html>