<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Fee List</title>
</head>
<body>
<div class="m-lg-2">
    <h1>Fee List</h1>
    <a th:href="@{/static}">To Home</a>
    <a th:href="@{/templates/pages/fees/new}">Create New Fee</a>
</div>
<div th:if="${successMessage}" class="alert alert-success w-25">
    <p th:text="${successMessage}"></p>
</div>
<div class="m-3">
    <div class="w-75">
        <form th:action="@{/templates/pages/fees}" method="get">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="feeName" class="col-form-label">Fee Name</label>
                    <input type="text" id="feeName" name="feeName" th:value="${feeSearchDTO.feeName}"
                           class="form-control"/>
                </div>
                <div class="col-auto">
                    <label for="minFeeAmount" class="form-label">Fee Min Amount</label>
                    <input type="text" id="minFeeAmount" name="minFeeAmount" th:value="${feeSearchDTO.minFeeAmount}"
                           class="form-control number-format"/>
                </div>
                <div class="col-auto">
                    <span class="form-label">~</span>
                </div>
                <div class="col-auto">
                    <label for="maxFeeAmount" class="form-label">Fee Max Amount</label>
                    <input type="text" id="maxFeeAmount" name="maxFeeAmount" th:value="${feeSearchDTO.maxFeeAmount}"
                           class="form-control number-format"/>
                </div>
                <div class="col-auto">
                    <label for="roomTypeCd" class="col-form-label">Room Type</label>
                    <select class="form-select" th:value="${feeSearchDTO.roomTypeCd}" id="roomTypeCd" name="roomTypeCd">
                        <option value="">All</option>
                        <option th:each="type : ${roomTypeList}"
                                th:value="${type.roomTypeCd}"
                                th:text="${type.roomTypeCd}"
                                th:selected="${type.roomTypeCd == feeSearchDTO.roomTypeCd}">
                        </option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="remark" class="form-label">Remark</label>
                    <input type="text" id="remark" name="remark" th:value="${feeSearchDTO.Remark}"
                           class="form-control number-format"/>
                </div>
                <div class="col-1 mt-lg-5">
                    <button type="submit" class="btn btn-primary mb-3">Search</button>
                </div>
            </div>
        </form>
        <div>
            <div>
                <!-- 시작 번호 -->
                <span th:text="${feeList.number * feeList.size + 1}"></span>
                <span> ~ </span>
                <!-- 끝 번호: 마지막 페이지 확인 -->
                <span th:with="endNumber=${(feeList.number + 1) * feeList.size}, finalEndNumber=${feeList.totalElements < endNumber ? feeList.totalElements : endNumber}"
                      th:text="${finalEndNumber}"></span>
                <span> / </span>
                <!-- 전체 항목 수 -->
                <span th:text="${feeList.totalElements}"></span>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-1">Sequence</th>
            <th>Fee Name</th>
            <th>Room Type</th>
            <th>Fee Amount</th>
            <th class="col-4">Remark</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-dark" th:each="fee, iterStat: ${feeList}">
            <td th:text="${iterStat.count + (feeList.number * feeList.size)}">1</td>
            <td><a th:href="@{/templates/pages/fees/update/{id}(id=${fee.id})}" th:text="${fee.feeName}"></a></td>
            <td th:text="${fee.roomTypeCd}" class="w-25">Room Type</td>
            <td th:text="${fee.feeAmount}" class="text-end">Fee Amount</td>
            <td th:text="${fee.remark}">Remark</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="fixed-bottom">
    <ul class="pagination justify-content-center">
        <li th:if="${feeList.hasPrevious()}" th:class="${feeList.first ? 'disabled' : 'page-item'}">
            <a class="page-link"
               th:href="@{/templates/pages/fees(page=${feeList.number - 1}, size=${feeList.size})}">Previous</a>
        </li>
        <li th:each="pageNum : ${#numbers.sequence(feeList.number > 5 ? feeList.number - 5 : 0, feeList.totalPages > feeList.number + 5 ? feeList.number + 5 : feeList.totalPages - 1)}"
            th:class="${pageNum == feeList.number ? 'active page-item' : 'page-item'}">
            <a class="page-link" th:href="@{/templates/pages/fees(page=${pageNum}, size=${feeList.size})}"
               th:text="${pageNum + 1}">1</a>
        </li>
        <li th:if="${feeList.hasNext()}" th:class="${feeList.last ? 'disabled' : 'page-item'}">
            <a class="page-link" th:href="@{/templates/pages/rooms(page=${feeList.number + 1}, size=${feeList.size})}">Next</a>
        </li>
    </ul>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#minFeeAmount, #maxFeeAmount').on('input', function () {
            let value = $(this).val();
            let numberWithCommas = value.replace(/[^0-9]/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $(this).val(numberWithCommas);
        });
    });
</script>
</html>