<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      layout:fragment="Content">
<head>
    <title>테스트 페이지 </title>
</head>

<body>
<div class="m-lg-2">
    <div>
        <a th:href="@{/rooms}">Room List</a>
    </div>
    <div>
        <a th:href="@{/fees}">Fee List</a>
    </div>
    <div>
        <a th:href="@{/reserve}">Reserve Room</a>
    </div>
</div>
</body>
</html>